body {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 38%, rgba(217, 217, 217, 1) 100%);
}

.navbarCustom {
    background: rgba(246, 30, 141.0.5);
    background: linear-gradient(180deg, rgba(246, 30, 141, 0.9) 0%, rgba(243, 1, 0, 0.9) 100%);

    /* background: rgb(246,30,141);
    background: linear-gradient(90deg, rgba(246,30,141,1) 0%, rgba(243,1,0,1) 100%);
    background-size: 100% 100%; */
}

.footerCustom {
    background: rgb(246, 30, 141);
    background: linear-gradient(90deg, rgba(246, 30, 141, 1) 0%, rgba(243, 1, 0, 1) 100%);
    background-size: 100% 100%;
}

.cardActionIndex {
    transition: all 1s ease-in-out !important;
    /* Animation */
    transform: scale(1);
}

.cardActionIndex:hover {
    transition: all 1s ease-in-out !important;
    /* Animation */
    transform: scale(1.05);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.cardActionRegister {
    transition: all 1s ease-in-out !important;
    /* Animation */
    transform: scale(1);
}

.cardActionRegister:hover {
    transition: all 1s ease-in-out !important;
    /* Animation */
    transform: scale(1.02);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.welcomeAlert {
    background: rgb(55, 55, 55);
    background: linear-gradient(0deg, rgba(55, 55, 55, 1) 0%, rgba(255, 0, 0, 1) 100%);
    /* background: rgba(246,30,141.0.5);
    background: linear-gradient(180deg, rgba(246,30,141,0.9) 0%, rgba(243,1,0,0.9) 100%); */
}

.cardActionShadowC {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 10px;
}

.actionHeaderText{
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
}